IMMICH_BASE_URL=https://your-immich-instance.com
IMMICH_API_KEY=your_api_key_here

SITE_NAME=DOKUMENTASI ROHIS
SITE_SHORT_NAME=ROHIS
SITE_DESCRIPTION=Dokumentasi kegiatan ROHIS dalam satu tempat.
ORG_NAME=ROHIS
SCHOOL_NAME=SMKN 1 Pandeglang
POWERED_BY=ZEDLABS TEKNOLOGI INDONESIA
POWERED_BY_URL=https://zedlabs.id