IMMICH_BASE_URL=https://example.com
IMMICH_API_KEY=<your_api_key_here>

SITE_NAME=DOKUMENTASI MADRASAH
SITE_SHORT_NAME=DOKUMENTASI MADRASAH
SITE_DESCRIPTION=Dokumentasi kegiatan dalam satu tempat.
ORG_NAME=DOKUMENTASI
SCHOOL_NAME=MTSN 1 PANDEGLANG
POWERED_BY=ZEDLABS TEKNOLOGI INDONESIA
POWERED_BY_URL=https://zedlabs.id
EXCLUDED_ALBUM_KEYWORDS=UNGGAH DOKUMENTASI

SOCIAL_INSTAGRAM_URL=https://instagram.com/akun_anda
SOCIAL_YOUTUBE_URL=https://youtube.com/@akun_anda
UPLOAD_URL=https://galeri.mtsn1pandeglang.sch.id/s/<nama_album_unggahannya>
