IMMICH_BASE_URL=https://example.com
IMMICH_API_KEY=<your_api_key_here>

SITE_NAME=DOKUMENTASI ROHIS
SITE_SHORT_NAME=DOKUMENTASI ROHIS
SITE_DESCRIPTION=Dokumentasi kegiatan dalam satu tempat.
ORG_NAME=ROHIS
SCHOOL_NAME=SMKN 1 PANDEGLANG
POWERED_BY=ZEDLABS TEKNOLOGI INDONESIA
POWERED_BY_URL=https://zedlabs.id
EXCLUDED_ALBUM_KEYWORDS=UNGGAH DOKUMENTASI
